body {
  font-family: Avenir Light;
}


/* Style buttons */
.btn {
  background-color: DodgerBlue;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.btn.connect-now {
  background-color: white;
  color: black;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.btn.last-connect-now:hover {
  background-color: RoyalBlue;
  color: white;
}

#home li a {
  color: lightslategray;
  transition: 0.3s;
}

#home ul li a:hover {
  color: black;
  background-color: #ddd;
}

.faq h5 {
  font-weight: bold;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.title-zoom:hover {
  transform: scale(1.3);
}

.animatable {
  
  /* initially hide animatable objects */
  visibility: hidden;
  
  /* initially pause animatable objects their animations */
  -webkit-animation-play-state: paused;   
  -moz-animation-play-state: paused;     
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;   
  animation-play-state: paused; 
}

/* show objects being animated */
.animated {
  visibility: visible;
  
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
  }
  50% {
    -webkit-transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    -moz-transform: scale(.3);
  }

  50% {
    -moz-transform: scale(1.05);
  }

  70% {
    -moz-transform: scale(.9);
  }

  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}

@-o-keyframes bounceIn {
  0% {
    opacity: 0;
    -o-transform: scale(.3);
  }

  50% {
    -o-transform: scale(1.05);
  }

  70% {
    -o-transform: scale(.9);
  }

  100% {
    opacity: 1;
    -o-transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(.3);
  }

  50% {
    opacity: 0.5;
    transform: scale(1.05);
  }

  70% {
    opacity: 0.8;
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}


@-webkit-keyframes opacityIn {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }

  70% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes opacityIn {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }

  70% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes opacityIn {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }

  70% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacityIn {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }

  70% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}


@-webkit-keyframes moveUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(50px);
  } 100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes moveUp {
  0% {
    opacity: 1;
    -moz-transform: translateY(50px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes moveUp {
  0% {
    opacity: 1;
    -o-transform: translateY(50px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes moveUp {
  0% {
    opacity: 1;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated.bounceIn {
  -webkit-animation-name: bounceIn;
  -moz-animation-name: bounceIn;
  -o-animation-name: bounceIn;
  animation-name: bounceIn;
}

.animated.opacityIn {
  -webkit-animation-name: opacityIn;
  -moz-animation-name: opacityIn;
  -o-animation-name: opacityIn;
  animation-name: opacityIn;
}

.animated.moveUp {
  -webkit-animation-name: moveUp;
  -moz-animation-name: moveUp;
  -o-animation-name: moveUp;
  animation-name: moveUp;
}