body {
  font-family: Avenir Light;
}


/* Style buttons */
.btn {
  background-color: DodgerBlue;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.btn.connect-now {
  background-color: white;
  color: black;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.btn.last-connect-now:hover {
  background-color: RoyalBlue;
  color: white;
}

#home li a {
  color: lightslategray;
  transition: 0.3s;
}

#home ul li a:hover {
  color: black;
  background-color: #ddd;
}

.faq h5 {
  font-weight: bold;
}